## Database Related
DATABASE_URL=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

## AI Model Key
ANTHROPIC_API_KEY=

## Blockchain Related
NEXT_PUBLIC_SOLANA_NETWORK="devnet"
HELIUS_RPC_URL=
HELIUS_API_KEY=
HELIUS_WEBHOOK_SECRET=
NEXT_PUBLIC_IDRX_MINT_ADDRESS=
NEXT_PUBLIC_PLATFORM_WALLET=
PLATFORM_KEYPAIR=
NEXT_PUBLIC_LOKAL_CORE_PROGRAM_ID=
IDRX_MINT_ADDRESS=


CLOUDFLARE_R2_ACCOUNT_ID=
CLOUDFLARE_R2_ACCESS_KEY_ID=
CLOUDFLARE_R2_SECRET_ACCESS_KEY=
CLOUDFLARE_R2_BUCKET_NAME=
CLOUDFLARE_R2_PUBLIC_URL=
NEXT_PUBLIC_MAPBOX_TOKEN=