# dependencies
node_modules/
.next/

# env files
.env
.env.example
.env.local

# solana/anchor specific
anchor/target/
target/deploy/*-keypair.json

# Documentations & Marketing
marketing/
scripts/
docs/

claude-session.jsonl
tsconfig.tsbuildinfo

anchor/Anchor.toml
